@media (max-width: 1400px) {
    .main-grid {
        grid-template-columns: auto auto auto 200px 1fr;
        grid-template-areas:
            "resources players bank chat"
            "board board board bla"
    }
}

@media (min-width: 1400px) {
    .main-grid {
        grid-template-columns: 460px auto;
        grid-template-rows: repeat(4, min-content) 1fr;
        grid-template-areas:
            "resources board"
            "players board "
            "bank board"
            "chat board"
            "bla board"
    }
}