:root {
    --hex-width: 130px;
    --hex-between: 10px;

    --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
}

.action-button {
    height: 40px;
}

.hexagon-container {
    display: grid;
    grid-template-columns: repeat(7, var(--hex-width));
    grid-auto-rows: calc(var(--hex-width) - 17px);
    grid-gap: var(--hex-between) var(--hex-between);
    margin-left: -90px;
    margin-top: -24px;
    padding-top: 40px;
    width: calc(8.1 * var(--hex-width));
}

.hex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--hex-height);
    position: relative;
    width: calc(1.27 * var(--hex-width));
}

.hex .tile {
    position: absolute;
    z-index: -1;
    width: calc(1.27 * var(--hex-width));
}

.hex:nth-child(14n + 8),
.hex:nth-child(14n + 9),
.hex:nth-child(14n + 10),
.hex:nth-child(14n + 11),
.hex:nth-child(14n + 12),
.hex:nth-child(14n + 13),
.hex:nth-child(14n + 14) {
    margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hidden {
    visibility: hidden;
}

.hex .vertex {
    position: absolute;
    z-index: 2;
}

.hex .vertex.top {
    transform: translate(calc(0 * var(--hex-width)), calc(-1.1 * var(--hex-height)));
}

.hex .vertex.bottom {
    transform: translate(calc(0 * var(--hex-width)), calc(1.1 * var(--hex-height)));
}

.hex .edge {
    position: absolute;
    z-index: 1;
}

.hex .edge.north {
    transform: translate(calc(0.28 * var(--hex-width)), calc(-0.80 * var(--hex-height)));
}

.hex .edge.east {
    transform: translate(calc(0.535 * var(--hex-width)), calc(0 * var(--hex-height)));
}

.hex .edge.south {
    transform: translate(calc(0.26 * var(--hex-width)), calc(0.83 * var(--hex-height)));
}

@keyframes circle {
    from {
        transform: translateX(-50%) translateY(-50%) scale(.8);
    }
    to {
        transform: translateX(-50%) translateY(-50%) scale(1.0);
    }
}

.knight-button:hover {
    border: 5px solid !important;
    background-color: goldenrod !important;
}